@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,100italic,300italic,400italic,700italic);

body, html {
font-family: Lato,'Gotham SSm A','Gotham SSm B',Helvetica;
font-size: 1.0em;
color: #000111;
font-weight: 300;
line-height: 1.1em;
}

body p, li {
font-size: 1.2em;
}


.et_pb_slide_description
{
max-height: 500px;
}
.hero-slide {
max-height: 510px;
}

#top-header, #et-secondary-nav li ul {
background-color: #0b0f0f;
}

.hero {
font-size: 1.4em;
font-weight: 200;
color: #111;
line-height: 24px;
font-style: normal;
text-transform: none;
letter-spacing: 0px;
text-decoration: none;
}

.hero-title{
text-align: center;
text-rendering: geometricPrecision;
color: #555;
font-family: 'Gotham SSm A','Gotham SSm B',Helvetica;
font-size: 1.7em;
font-weight: 100;
line-height: 1.2em;
}

#product-packs-bg {
background-color: #190606;
}
.product-packs {
color: #B1B4AB;
font-weight: 300;
font-style: normal;
font-size: 1.1em;
line-height: 22px;
text-transform: none;
letter-spacing: 0px;
text-decoration: none;
margin: 0 0 22px;
}
.product-packs  h2 {
text-align: center;
text-rendering: geometricPrecision;
color: #999;
font-family: 'Gotham SSm A','Gotham SSm B',Helvetica;
font-size: 1.3em;
font-weight: 200;
line-height: 1.2em;
}
.tile-grid-item {
border-right: 1px solid #292929;
padding-right: 5px;
}

#et-footer-nav {
background-color: #010101;
}

#et-footer-nav {
background-color: #010101;
}

#footer-bottom a {
color: #ffd52d;
}

#footer-bottom {
background-color: #010101;
padding: 15px 0 5px;
}
#footer-info a {
font-weight: 300;
color: #FEB85D;
}

.machine-slide {
font-size: 1.8em; 
color: white; 
font-weight: 400; 
margin-top: 10%; 
background-color: #0E1723; 
padding: 5px; border-radius: 5px;
}

#top-menu li {
display: inline-block;
font-size: 1.1em;
font-weight: 300;
padding-right: 22px;
}

#top-menu a {
color: #000111;
}

.about-us {
font-size: 1.1em;
font-weight: 300;
}

.mission-head {
font-weight: 700;
font-size: 3.0em;
color: #000000;
}
.mission-content
{
font-size: 1.2em;
font-weight: 300;
color: #010101;
text-align: left;
}

.walks
{
font-size: 1.4em;
font-weight: 400;
color: #FEB85D;
text-align: center;
}

.hamper
{
font-size: 1.6em;
font-weight: 300;
color: #010101;
text-align: left;
}
.contacts-head {
font-weight: 400;
font-size: 2.0em;
color: #000000;
}

.product-packs{
font-weight: 300;
font-size: 1.3em;
color: #000011;
}
.our-group {
opacity: 1;
display: block;
}

.link-bar{
/*margin-top: -20px; */
max-height: 165px;
}

.title-link-help-bar {
font-size: 24px;
color: #1e414e;
float: right;
font-weight: bold;
font-style: italic;
width: 78%;
line-height: 26px;
}

.link-help-bar {
/*background-color: #ffd52d; */
position: absolute;
/*width: 100%; */
height: 80%; 
padding: 42px 15px 20px 44px;
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
transition: all 0.5s ease;
}

.help-bar {
background-color: #ffd52d;
overflow: hidden;
height: 140px;
position: relative;
z-index: 100;
}

.title-help-bar{
font-size: 35px;
color: #ffffff;
font-weight: 800;
text-transform: uppercase;
margin-bottom: 0;
padding: 25px 20px 20px 37px;
}

.help-bar-number {
float: right;
color: #1e414e;
color: rgba(30, 65, 78, 0.15);
font-size: 48px;
font-weight: 400;
width: 38%;
}

.tp-caption { z-index:1;}

.redo_subheading {
margin: 0 10px;
background-color: #ffd52d;
font-size: 52px;
text-align: right;
line-height: 56px;
font-weight: 600;
color: #fff;
padding: 3px 40px 12px 40px;
letter-spacing: -2px!important;
text-transform: uppercase;
display: inline-block;
text-decoration: none;
border-width: 0px;
border-color: rgb(255,255,255);
border-style: none;
}
